/* Стили обнуления для сайта  */
*{
  margin: 0;
}


/* Общие стили для сайта  */
body{
  font-family: 'Josefin Sans', sans-serif;
}

.header{
  background-color: #252527;
}

.container{
width: 1000px;
margin: 0 auto;
}

h1{
  color: #4b13e4; 
  font-size: 80px; 
}

h6{
    color: #b62e9f;
font-size: 30px;
}



p{
  color:rgb(207, 6, 6)
}

section{
padding-top: 100px;
padding-bottom: 100px;
}


/* --- Menu --- */

.menu{
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 20px 0px 20px 0px;
}



.menu__link{
  font-size: 20px;
  cursor: pointer;
  color: white;
  font-weight: 400;
  letter-spacing: 1px;
  transition: 300ms;
}

.menu__link:hover{
  color: #4f93e5;
}


/* link */
.menu__link a{
  font-size: 20px;
  cursor: pointer;
  color: white;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
}

.menu__link a:hover{
  color: #4f93e5;
  transition: 300ms;
}

.contacts-button{
  background-color: rgb(189, 95, 95);
  color: rgb(54, 218, 4);

  transition: 2s;
}

.contacts-button:hover{
  background-color: rgb(54, 218, 4);
  color: rgb(189, 95, 95);
  transition: 2s;
}


/* --- First screen --- */
.first-screen{
  background-color: #252527;
  height: 700px;
  display: flex;
  align-items: center;
}

.first-screen__body{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.first-screen__text h1{
color: white;
font-size: 45px;
font-weight: 400;

}

.first-screen__text p{
font-size: 16px;
color: white;
}

.first-screen__image{
  width: 400px;
  height: 400px;
  border: 6px solid #4f93e5;
  position: relative;
}

.first-screen__image img{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 20px;
  right: 20px;
}

/* --- Skills --- */
.skills{
  background-color: #1f1f20;
}



.skills__title{
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}

.skills__decor-line{
  margin-top: 20px;
  width: 100px;
  height: 2px;
  background-color: #4f93e5;
  margin: 20px auto 0 auto;
}


.skills-item{
  background-color: darkorange;
  width: 300px;
  height: 250px;
  margin-bottom: 20px;
}




/* --- Resume --- */

.resume{
  background-color: rgba(252, 88, 113, 0.505)
}

.resume__title {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}

.resume__decor-line {
  margin-top: 20px;
  width: 100px;
  height: 2px;
  background-color: #4f93e5;
  margin: 20px auto 0 auto;
}

/*Works*/

.works{
  background-color: rgba(7, 221, 60, 0.505)

}
.works__title {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}

.works__decor-line {
  margin-top: 20px;
  width: 100px;
  height: 2px;
  background-color: #4f93e5;
  margin: 20px auto 0 auto;
}



/*my contacts*/

.contacts{
  background-color: rgba(0, 0, 0, 0.505)
}
.contacts__title {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}

.contacts__decor-line {
  margin-top: 20px;
  width: 100px;
  height: 2px;
  background-color: #4f93e5;
  margin: 20px auto 0 auto;
}


/* Button */

.btn3{
  padding: 10px 20px;
  background-color: white;
  color: black;
  font-size: 20px;
  border-radius: 10px;
  transition: 0.5s;
}

.btn3:hover{
  box-shadow: 5px 5px 10px #4b4b4b;
  transition: 0.3s;
}

.black{
  color: white;
  background-color: black;
  transition: 0.5s;
}

.btn1{
  padding: 8px 18px;
  background-color: white;
  color:black;
  font-size: 20px;
  border-radius: 15px;
  transition: 1s;
}

.btn1:hover{
  box-shadow: 7px 8px 10px blueviolet;
  transition: 0.5;
}

.blueviolet{
  color: white;
  background-color: blueviolet;
  transition: 0.5s;
}



.btn2{
  padding: 5px 20px;
  background-color: white;
  color: black;
  font-size: 17px;
  border-radius: 15px;
  transition: 0.4;
}

.green{
  color: white;
  background-color: green;
  transition: 0.5s;
}

.btn2:hover{
box-shadow: 5px 5px 15px green;
transition: 0.3s;
}

h4{
  padding: 10px 20px;
  color: black;
  font-size: 20px;
}


